body {
    text-align: center;
}

h1 {
    color: blue;
    text-align: center;
}

h1:hover {
    color: green;
}

p:active {
    color: grey;
}

a:link {
    color: orange;
}

a:visited {
    color: rgb(167, 167, 167);
}

img:hover {
    display: none;
}

